@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200&family=Teko:wght@400&display=swap');

body {
    font-family: "Sarabun", Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: rgb(235, 249, 255);
    margin: 0;
    padding: 0;

}

header {
    background-color: #A4DFE3;
}

footer {
    background-color: #0194A2;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #1E2749;
}

footer p {
    text-decoration: underline;
    font-size: x-large;
}

h2 {
    margin: 0;
}

h4 {
    color: #0B7589;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color: #fefefe;
    color: #1E2749;
}

.home-title {
    color: #1E2749;
    font-size: 2em;
    font-family: "Teko", Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

.book, .join {
    background-color: #0194A2;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #fefefe;
    color: #1E2749;
}

.card-img {
    border: 10px solid #1E2749;
}

.icon {
    width: 80px;
    height: 80px;
    padding-top: 10px;
}

.msg {
    background-color: #1E2749;
    color: white;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #fefefe;
    font-family: "Teko", Arial, Helvetica, sans-serif;
}

.msg p {
    color: #fefefe;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

div#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a, #hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}

#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}

#background {
    height: 725px;
}
#faq-title {
    color: #1E2749;
    font-size: 3em;
    font-family: "Teko", Arial, Helvetica, sans-serif;
    margin-top: 10px;
    text-align: center;
}
.qna {
    content: "";
    clear: both;
    display: table;
}
.qna img {
    padding: 30px;
    width: 600px;
    float:right;
}
.qna h2 {
    
    font-size: 1.2em;
    padding: 10px;
}
.qna p {
    margin: auto;
    max-width: 80%;
}