body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    list-style-position: inside;
    background-color: #fca6c9;
}
#title {
    color: white;
}

#title:hover {
    color: black;
}

.quote {
    color: white;
    font-family: 'Times New Roman', Times, serif
}
.quote.person {
    font-family: Verdana;
}