body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #fca6c9;
    max-width: 500px;
    margin: auto;
}

header {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

ol {
    font-weight: bolder;
    text-align: left;
}

#title {
    color: white;
}

#title:hover {
    color: black;
}

h2.quote {
    font-size: xx-large;
    font-weight: normal;
}

.quote {
    color: white;
    font-family: 'Times New Roman', Times, serif
}

.quote.person {
    font-family: Verdana;
}